@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Roboto+Serif&family=Roboto+Slab:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}


.sidebar {
  margin: 0;
  padding: 0px 0px; 
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  transition: 0.4s;
}
.sidebar a:hover {
  padding-left: 25px;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

body .content {
  margin-left: 200px;
  margin-top: 0px;
  padding-top: 0px;
  padding: 1px 16px;
  height: 940px;
  font-family: "Roboto Serif", sans-serif;
}
.content h2 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
  justify-content: center;
  color: darkblue;
  word-spacing: 2px;
  margin-top: 10px;
}

.content .slogan {
  margin: 20px auto;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  font-family: 'Roboto Serif', sans-serif;
  
}

.logo img {
  /* position: fixed; */
  display: block;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 140px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 55px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  justify-content: center;
}

.flexcards {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-bottom: 20px;
}
.flexcards .card {
  margin: auto;
}
.carousel-inner > .item > img {
  width: 690px;
  height: 360px;
}
.carousel {
  margin: auto;
  width: 690px;
  height: 360px;
}

.box {
  width: 300px;
  height: 125px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.box .text {
  width: 100px;
  height: 100px;
  padding: 2px;
}
.box .text img {
  width: inherit;
  height: inherit;
  display: inline;
}

.ff {
  display: flex;
}
.box {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.side {
  margin: auto;
  text-decoration: none;
  color: black;

}
.ff a {
  text-decoration: none;
  margin: auto;
}
.ff a .box:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: -5px 10px 15px 2px black;
  border: 2px solid black;
}

.sixdoctors{
  margin-top: 15px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  
}







/* Media Queries */
@media screen and (max-width: 700px) {

  .ff {
    flex-direction: column;
  }
  .box {
    margin: 20px auto;
    border-radius: 20px;
  }
  .carousel-inner > .item > img {
    width: 350px;
    height: 200px;
  }
  .carousel {
    margin: auto;
    width: 350px;
    height: 200px;
  }
  .logo img {
    display: block;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 140px;
    margin: auto;
    
  }

  
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}


  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    position: fixed;
    
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .logo img {
    display: block;
    top: 0px;
    right: 0px;
    
    margin: auto;
    height: 140px;
  
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    position: fixed;
    
  }
}
